<div class="container" style="margin-top:30px;">
    <h1 style="margin:auto">Employee Table</h1>
    <table class="table table-striped table-dark" style="margin-top:15px;">
        <thead>
            <tr>
                <th scope="col">#</th>
                <% for( i in keys) {%>
                    <th scope="col">
                        <%-keys[i].toUpperCase()%>
                    </th>
                    <%}%>
            </tr>
        </thead>
        <tbody>
            <% for(i in values) {%>
                <tr>
                    <th scope="row">
                        <%-parseInt(i)+1%>
                    </th>
                    <td>
                        <%- values[i].id%>
                    </td>
                    <td>
                        <%- values[i].firstname%>
                    </td>
                    <td>
                        <%- values[i].lastname%>
                    </td>
                    <td>
                        <%- values[i].salary%>
                    </td>
                    <td>
                        <%- values[i].role%>
                    </td>
                </tr>
                <%}%>
        </tbody>
    </table>
</div>