html {
    margin:0;
    padding: 0;
}

div.Header {
    margin: 0 20% 8%;
    overflow: hidden;
}

div.form {
    margin: 0 25%;
    border: solid 1px black;
}

h1 {
    color: red;
    text-align: center;
}

p#head {
    color: whitesmoke;
    background: blue;
    margin: 0;
    padding: 10px 5%;
    font-size: 24px;
    font-weight: bold;
}

form {
    margin:0;
    padding: 0;
    border-top: 1px black solid;
}

p {
    margin: 0;
    padding: 0;
}

p.label {
    margin: 15px 10px 0;
}

p#forget {
    margin: 0 10px;
}

input {
    margin: 0 10px;
    height: 20px;
    width: 85%;
}

input.button {
    color: white;
    font-weight: 600;
    background-color: darkblue;
    border: 1px solid black;
    border-radius: 2px;
    margin: 15px 10px;
    display: inline-block;
    height: 30px;
    width: 30%;
}