.container {
    width: 100%;
}

#header {
    text-align: center;
}

#header a{
    width: 30px;
    height: 30px;
    border: solid 1px black;
    display: inline-block;
    vertical-align: middle;
}

#header h1{
    display: inline-block;
    vertical-align: middle;
}

#nav {
    margin: 15px auto 0;
    text-align: center;
}

#nav a {
    font-size: 18px;
    padding: 0 10px;
    color: black;
}

#first {
    padding-left: 0px;
}

#content {
    text-align: center;
    width: 40%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

#news {
    text-align: left;
    margin-top: 30px;
    width: 50%;
    height: auto;
    border-right: 1px solid black;
}

#news p {
    margin-left: 110px;
}

#news-head {
    margin-left: 110px;
}

#Annouce {
    text-align: left;
    margin-top: 30px;
    margin-left: 40px;
}

#footer {
    text-align: center;
}