@import '~antd/dist/antd.css';

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: sans-serif;
}

.Content {
  width: 100%;
  margin: 30px auto;
}

#header {
  text-align: center;
}

.Form {
  width: 30%;
  margin: 30px auto 0;
  border: 1px solid rgb(189, 185, 185);
  border-radius: 5px;
}

.login-form {
  width: 300px;
  margin: 0 auto;
}

.login-form-forgot {
  float: right;
}
.form-button {
  width: 100%;
}

.navbar h3{
  color: white;
}

.ant-carousel .slick-slide {
  text-align: center;
  height: 160px;
  line-height: 160px;
  background: #367279;
  overflow: hidden;
}
      
.ant-carousel .slick-slide h3 {
  color: #fff;
}

