.container {
    position: relative;
    width: 100%;
    margin: 0;
    padding: 0;
}

.header {
    width: 65%;
    height: 60px;
    border: 3px solid black;
    border-radius: 10px;
    margin: 2% auto;
}
#logo {
    display: inline-block;
    border: 1px solid black;
    border-radius: 100%;
    width: 50px;
    height: 50px;
    vertical-align: middle;
    margin: 5px 15px;
}

#name {
    margin-left: 20px;
    display: inline-block;
    vertical-align: middle;
}

#name a {
    font-size: 24px;
}

#searchbox {
    display: inline-block;
    vertical-align: middle;
    margin-left: 20%;
}

#searchbox input {
    width: 230px;
    padding: 6px 0;
}

#searchbox button {
    border: none;
    background-color: dodgerblue;
    color: white;
    padding: 8px 12px;
} 

#product {
    margin-left: 30px;
    display: inline-block;
    vertical-align: middle;
}

.content {
    width: 80%;
    margin: 2% auto 0;
    display: flex;
    flex-wrap: wrap;
}

.card {
    margin-top: 50px;
    margin-left: 20px;
}

.item {
    display: inline-block;
    width: 200px;
    height: 200px;
    border: solid 1px black;
    vertical-align: middle;
}

.detail {
    margin-left: 30px;
    display: inline-block;
    vertical-align: middle;
}

