.App {
  width: 60%;
  margin: auto;
}

.ant-card-bordered {
  border-radius: 10px;

}

.ant-card-head {
  background: rgba(32,124,229,1);
  background: -moz-linear-gradient(top, rgba(32,124,229,1) 0%, rgba(73,155,234,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(32,124,229,1)), color-stop(100%, rgba(73,155,234,1)));
  background: -webkit-linear-gradient(top, rgba(32,124,229,1) 0%, rgba(73,155,234,1) 100%);
  background: -o-linear-gradient(top, rgba(32,124,229,1) 0%, rgba(73,155,234,1) 100%);
  background: -ms-linear-gradient(top, rgba(32,124,229,1) 0%, rgba(73,155,234,1) 100%);
  background: linear-gradient(to bottom, rgba(32,124,229,1) 0%, rgba(73,155,234,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#207ce5', endColorstr='#499bea', GradientType=0 );
}

.ant-card-head-title {
  color: white;
  font-size: 24px;
}

.ant-card-extra{
  color: rgb(231, 231, 231);
  font-size: 24px;
}

.ant-card-body {
  display: flex;
  height: 80vh;
  padding: 0;
  margin: 0;
  justify-content: center;
}

.messagebox {
    margin-top: 30px;
    height: 70vh;
}