.btn {
    width: 23%;
    height: 75px;
    margin: 5px;
    color: white;
    font-size: 24px;
    font-weight: 600;
    background: rgb(53,106,160);
    background: -moz-linear-gradient(-45deg, rgba(53,106,160,1) 0%, rgba(53,106,160,1) 100%);
    background: -webkit-linear-gradient(-45deg, rgba(53,106,160,1) 0%,rgba(53,106,160,1) 100%);
    background: linear-gradient(135deg, rgba(53,106,160,1) 0%,rgba(53,106,160,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#356aa0', endColorstr='#356aa0',GradientType=1 );
}

.btn.opt {
    margin-left: 5px;
    background: rgb(255,183,107);
    background: -moz-linear-gradient(-45deg, rgba(255,183,107,1) 0%, rgba(255,167,61,1) 50%, rgba(255,124,0,1) 51%, rgba(255,127,4,1) 100%);
    background: -webkit-linear-gradient(-45deg, rgba(255,183,107,1) 0%,rgba(255,167,61,1) 50%,rgba(255,124,0,1) 51%,rgba(255,127,4,1) 100%);
    background: linear-gradient(135deg, rgba(255,183,107,1) 0%,rgba(255,167,61,1) 50%,rgba(255,124,0,1) 51%,rgba(255,127,4,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffb76b', endColorstr='#ff7f04',GradientType=1 );
}

.btn.menu {
    background: rgb(181,189,200);
background: -moz-linear-gradient(-45deg, rgba(181,189,200,1) 0%, rgba(130,140,149,1) 36%, rgba(40,52,59,1) 100%);
background: -webkit-linear-gradient(-45deg, rgba(181,189,200,1) 0%,rgba(130,140,149,1) 36%,rgba(40,52,59,1) 100%);
background: linear-gradient(135deg, rgba(181,189,200,1) 0%,rgba(130,140,149,1) 36%,rgba(40,52,59,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b5bdc8', endColorstr='#28343b',GradientType=1 );
}

.btn.wide {
    width: 47.4%;
}