.display {
    background-color: black;
    color: white;
    border: solid 1px white;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: 40px;
    border-radius: 10px;
    height: 120px;
    margin: 0 15px 15px;
}