div {
    margin: 0;
    padding: 0;
}

.container {
    width: 100%;
}

.form {
    width: 40%;
    border: solid 1px black;
    border-radius: 10px;
    position: relative;
    margin: 30px auto 15px;
    background-color: lightcyan;
}

#header {
    position: absolute;
    top: -7%;
    left: 10px;
    z-index: 1;
    color: white;
    border: solid 1px lightblue;
    border-radius: 10px;
    background-color: darkblue;
    padding: 5px;
    font-size: 16px;
}

.form-input{
    position: relative;
    width: 100%;
    display: inline;
    margin: 15px;
}

.form-input#first {
    margin-top: 50px;
}

.form-input#last p {
    margin-top: 30px;
}

span {
    float: left;
    font-weight: 600;
    margin-left: 15px;
}

.text {
    float: right;
    margin-right: 10%;
    padding: 3px;
    width: 55%;
}

.select {
    float: right;
    margin-right: 10%;
    border-radius: 10px;
    padding: 3px;
    width: 56.5%;
}

.textarea {
    float: right;
    margin-right: 10%;
    width: 55%;
}

#check {
    margin-left: 35%;  
}

#bottom {
    margin-top: 20px;
    text-align: center;
}

.botton {
    border: 1px solid black;
    padding: 10px 18px;
    background-color: blue;
    color: white;
    border-radius: 10px;
    margin: 0 10px;
}