.chatbox {
    margin: -5px 0 10px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    flex: 1;
}

.ant-input {
    width: 600px;
    margin: auto;
}

.ant-btn {
    width: 150px;
    margin-left: 15px;
    color: white;
    font-weight: 400;
    font-size: 18px;
    background-color: #2f3cfc;
}