.messages {
    display: flex;
    justify-content: flex-end;
}


.messages.receiver {
    justify-content: flex-start;
    flex-direction: row;
}

.message-text{
    font-size: 18px;
    margin: 0 10px;
}

.show-msg {
    display: flex;
    align-items: center;
    background-color: rgb(233, 233, 233);
    border-radius: 10px;
    padding: 5px 10px;
    flex-direction: row-reverse;
}

.show-msg.receiver {
    flex-direction: row;
    background-color: rgb(121, 238, 92);
}