@import '~antd/dist/antd.css';
@import url('https://fonts.googleapis.com/css?family=Roboto:400,500');

body {
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

#ctn-left {
  overflow: hidden;
  background-color: #28a2ff;
  z-index: -2;
  width: 49.5%;
}

#ctn-right {
  width: 49.5%;
}

.content-left {
  width: 58%;
  height: 50%;
  padding-bottom: 2%;
  margin: 35.2% auto;
}

.content-right {
  margin: 0 auto;
}

.content-left h2 {
  color: white;
  font-size: 20px;
  font-weight: 500;
}

.content-left h2 i {
  margin-right: 5%;
  font-size: 36px;
}

#twitter-ico {
  color:#1b95e0;
  position: absolute;
  font-size: 8250%;
  z-index: -10;
  top: -38%;
  left: 7.4%;
}

#signin {
  text-align: center;
  margin-left: 33px;
  margin-top: 30px;
}

#signup {
  width: 52%;
  margin: 0 auto;
}

.login-form {
  margin-left: 20px;
}

.login-form .login-form-forgot {
  float: right;
}

#forgot-signin {
  margin-left: 42px;
}

#ctn-footer {
  display: block;
  width: 100%;
}

.footer {
  width: 90%;
  margin: 12px auto;
  text-align: center;
}

.nav-footer a{
  margin-right: 15px;
  font-size: 12px;
}

#components-form-demo-normal-login .login-form {
  width: 10px;
  margin: auto;
}
#components-form-demo-normal-login .login-form-forgot {
  float: right;
}
#components-form-demo-normal-login .login-form-button {
  width: 100%;
}